body {
    margin: 0;
    background-color: #035000;
    justify-content: center;
    padding-top: 1rem;
}





.board {
    background-color: #035000;
    display: flex;
    flex-direction: column;
}

.card-row {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    position: relative;
}

.stocks {
    display: flex;
    justify-content: center;
    align-content: center;
}
#stock-slot-0 .card {
    margin-right: 1rem;
    animation: flip-card .5s 1 forwards;
}



.card-slot {
    width: 6rem;
    height: 10rem;
    outline: 3px solid white;
    margin-right: 1rem;
    position: relative;
}

.empty {
    outline: 0px solid white;
    width: 6rem;
    height: 10rem;
    margin-right: 1rem;
}


.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    width: 6rem;
    height: 10rem
}

.card {
    outline: 3.5px solid white;
    position: relative;
    width: 6rem;
    height: 10rem;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
}

.top-cards .card {
    position: absolute;
}

.card:not(:first-child) {
    position: absolute;
}

.tableaus .card-slot .card:nth-child(1) {
    top: 0px;
}
.tableaus .card-slot .card:nth-child(2) {
    top: 60px;
}

.tableaus .card-slot .card:nth-child(3) {
    top: 120px;
}

.tableaus .card-slot .card:nth-child(4) {
    top: 180px;
}

.tableaus .card-slot .card:nth-child(5) {
    top: 240px;
}

.tableaus .card-slot .card:nth-child(6) {
    top: 300px;
}

.tableaus .card-slot .card:nth-child(7) {
    top: 360px;
}

.tableaus .card-slot .card:nth-child(8) {
    top: 420px;
}

.tableaus .card-slot .card:nth-child(9) {
    top: 480px;
}

.tableaus .card-slot .card:nth-child(10) {
    top: 540px;
}

.tableaus .card-slot .card:nth-child(11) {
    top: 600px;
}


.card:nth-last-child(1)::before {
    top: .2rem;
    right: .2rem;
}

.card:nth-last-child(1)::after {
    bottom: .2rem;
    left: .2rem;
}

.card__front {
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
}

.card.red {
    color: #ec2831;
    border: 2px solid #ec2831;
}

.card.black {
    color: black;
    border: 2px solid black;
}
.face-front {
    content: attr(data-value);
}

.face-front::before,
.face-front::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.face-back {
    background: linear-gradient(135deg, #ec283155 25%, transparent 25%) -6px 0/ 12px 12px, linear-gradient(225deg, #ec2831 25%, transparent 25%) -6px 0/ 12px 12px, linear-gradient(315deg, #ec283155 25%, transparent 25%) 0px 0/ 12px 12px, linear-gradient(45deg, #ec2831 25%, #ffffff 25%) 0px 0/ 12px 12px;
    font-size: 0px;
    content: none;
    
}


.btn {
    width: 100px;
    height: 50px;
}



@keyframes flip-card {
    0% { 
        transform: rotateY(180deg) translateX(79px) scale(1); 
    }
    80% { 

    }
    100% { 

        transform: rotateY(0deg) translateX(0px) scale(1); 

    }
}